/* Write your CSS code here */
:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: roboto;
}

.app-cont {
  background-color: whitesmoke;
  height: 100vh;
}

.main-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  padding: 4rem 2rem;
  margin: auto;
}

.home-pg-info-cont {
  display: flex;
  flex-direction: column;

  width: 50%;
}

.title {
  color: #1e293b;
  font-size: 6rem;
  font-weight: bold;
}

.title-desc {
  font-size: 2.6rem;
  color: #475569;
}

.shop-now-btn {
  background-color: #0b69ff;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  color: white;
  align-self: flex-start;
  border-radius: 1rem;
}
.home-pg-img-cont {
  text-align: right;
}
.home-pg-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
